<!DOCTYPE html>

<html>
<head>
    <title>About</title>
    <link rel="icon" href="./img/girl.gif">
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>This is the About Page of the web site</p>
        <img class="portrait" src="./img/IdreesPhoto.png"/></br>
        </div>
    {{>footer}}
</body>
</html>