<!DOCTYPE html>

<html>
<head>
    <title>Help</title>
    <link rel="icon" href="./img/girl.gif">
    <link rel="stylesheet" href="./css/styles.css">
    <script src="./js/clientside.js"></script>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>{{helpText}}</p>
    </div>
    {{>footer}}

</body>
</html>